@font-face { font-family: 'ghanachoco'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'S-CoreDream-5Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* font */


*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
}
.gana{
    font-family: 'ghanachoco';
}
.s-core{
    font-family: 'S-CoreDream-5Medium';
}
.background{
    background: url(../images/section01-background.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 1100px;
    position: relative;
    overflow: hidden;
}
.top_title{
    color: #fff;
    line-height: 43px;
    font-size: 30px;
    text-shadow: 0 3px 8px  #000, 0 2px 6px #000;
    padding-top: 50px;
}
.name_text{
    color: #6eb0e7;
    font-size: 40px;
    width: 100%;
    position: relative;
    top: 59%;
    left: 12%;
}
.name_text span{
    font-size: 33px;
    color: #fff;
}
.title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8%;
    width: 100%;
    font-size: 120px;
    color: #d6123a;
    text-shadow: 0 3px 8px  #fff, 0 2px 8px #fff;
    font-style: oblique;
}
.title>span{
    position: relative;
    bottom: 26px;
    overflow: hidden;
}
.bottom-title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1%;
    width: 100%;
    font-size: 27px;
    color: #fff;
}
.bottom_title{
    width: 100%;
    font-size: 30px;
    color: #fff;
    position: relative;
<<<<<<< HEAD
<<<<<<< HEAD
    top: 72%;
=======
    top: 73%;
<<<<<<< HEAD
>>>>>>> parent of 3238020... kiki
=======
    top: 73%;
>>>>>>> parent of 774254a... kiki
    overflow: hidden;
=======
>>>>>>> e3466fe0a470c811e9a31da744108a2181c07428
}

@media(max-width: 767px){
    .title{
        bottom: 9%;
        font-size: 85px;
        padding: 20px 0;
    }
    .name_text{
        font-size: 32px;
        top: 61%;
        left: 8%;
    }
    .name_text span{
        font-size: 29px;
        color: #fff;
    }
    .bottom_title{
        font-size: 27px;
    }
}
@media(max-width: 500px){
    .container{
        padding: 0 0;
    }
    .top_title{
        line-height: 40px;
        font-size: 25px;
    }
    .title{
        font-size: 58px;
    }
    .title>span{
        position: relative;
        bottom: 20px;
    }
    .name_text{
        font-size: 28px;
        top: 65%;
        left: 5%;
    }
    .name_text span{
        font-size: 23px;
    }
    .bottom_title{
        font-size: 23px;
    }
}
@media(max-width: 414px){
    .title{
        font-size: 50px;
    }
    .title>span{
        position: relative;
        bottom: 16px;
    }
    .name_text{
        font-size: 23px;
        top: 67%;
    }
    .name_text span{
        font-size: 20px;
    }
    .bottom_title{
        font-size: 21px;
        top: 75%;
<<<<<<< HEAD
    }
}
/* section01 end */

/* section02 start */
.sec02-bg{
    background: url(../images/sec02-bg.jpg);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 5% 0;
    position: relative;
    overflow: hidden;
}
.heart{
    width: 100%;
}
.heart img{
    width: 60%;
}
.sec02-kiki{
    width: 20%;
    position: absolute;
    right: 14%;
    top: 4%;
    overflow: hidden;
}
.sec02-kiki img{
    width: 100%;
}
.sec02-text{
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 25px;
    line-height: 43px;
    font-family: 'S-CoreDream-3Light';
}

@media(max-width: 767px){
    .sec02-bg{
        padding: 10% 0;
    }
    .heart img{
        width: 80%;
    }
    .sec02-kiki{
        width: 25%;
        position: absolute;
        right: 3%;
        top: 8%;
        overflow: hidden;
    }
    .sec02-text{
        font-size: 22px;
        line-height: 41px;
    }
}
@media(max-width: 500px){
    .sec02-text{
        font-size: 18px;
        line-height: 32px;
=======
>>>>>>> e3466fe0a470c811e9a31da744108a2181c07428
    }
} 
/* section02 end */

/* section03 start */
.sec03-bg{
    background: url(../images/sec03-bg.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 40%;
    padding-top: 3%;
    position: relative;
    overflow: hidden;
    z-index: -99;
}
.cloud{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -98;
}
.cloud img{
    width: 100%;
    height: 60%;
}
.sec02-img{
    width: 100%;
    z-index: 99;
}
.sec02-img img{
    width: 70%;
    z-index: 99;
}
.sec03-text{
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 55%;
    color: #fff;
    font-family: 'S-CoreDream-3Light';
    font-size: 20px;
    line-height: 32px;
}
.sec03-text p{
    padding: 7px 0;
}
@media(max-width:767px){
    .sec03-bg{
        padding-bottom: 60%;
        padding-top: 4%;
    }
    .cloud{
        height: 83%;
    }
    .sec03-text{
        top: 46%;
    }
    .sec02-img img{
        width: 75%;
    }
}
@media(max-width:500px){
    .sec03-bg{
        padding-bottom: 70%;
        padding-top: 5%;
    }
    .sec03-text{
        top: 43%;
        font-size: 16px;
        line-height: 28px;
    }
    .sec03-text p{
        padding: 3px;
    }

}
